[submodule "2670UVU/Animation State Machine Scriptable Object/Assets/Scripts/Unite2017"]
	path = 2670UVU/Animation State Machine Scriptable Object/Assets/Scripts/Unite2017
	url = https://github.com/roboryantron/Unite2017.git
